# General
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ IDEA/Android Studio
*.iml
*.ipr
*.iws
.idea/
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# VS Code
.vscode/

# macOS
*.DS_Store

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Flutter-specific folders
.macos/
.web/
.windows/
.linux/

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/api_docs.zip
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS related
**/ios/.generated/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/FlutterPluginRegistrant.framework
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcconfig
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Flutter/App.framework.dSYM/
**/ios/Flutter/Flutter.framework.dSYM/
**/ios/Flutter/FlutterPluginRegistrant.framework.dSYM/
**/ios/Flutter/GeneratedPluginRegistrant.m
**/ios/Flutter/GeneratedPluginRegistrant.h

# Editor-specific backup files
*~
*.tmp
*.temp
*.bak

# Build folders
build/
